<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">

    <title>tambah</title>
</head>
<body>
    <h2>Tambah warga baru</h2>
    <form action="/users" method="post">
      <div style="margin-bottom: 5px;">
          <label for="0">NIK </label>
          <input type="text" id="0" name="nik">
      </div>
      <div style="margin-bottom: 5px;">
          <label for="1">Nama </label>
          <input type="text" id="1" name="nama">
      </div>
      <div style="margin-bottom: 5px;">
          <label for="2">No WA </label>
          <input type="text" id="2" name="nowa">
      </div>
      <div style="margin-bottom: 5px;">
          <label for="21"> Password </label>
          <input type="text" id="21" name="pass">
      </div>
      <br>
      <a href="/users">Kembali</a>
      <button type="submit">Simpan</button>
    </form>
    <br><br>
    <footer>
        &copy; 2022 Anjasmoro_EpressJS
    </footer>
</body>
</html>