<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>users</title>
</head>
<body>
    <%- include('../componens/navbar') %>


    <a href="/users/create">Register</a>
    <h1>Daftar Warga rw.03 cipondoh tangerang ( <%=  wargaS.length %> KK ) </h1>
    <form action="/users">
        <input type="text" name="keyword">
        <button type="submit">Cari</button>
    </form>
    <ul>      
        <% wargaS.forEach(function(warga){  %>
            <li><a href="/users/<%= warga.nik %>"><%= warga.nama.toUpperCase() %></a></li>
        <% }) %>      
    </ul>
    <footer>
        &copy; 2022 Anjasmoro_EpressJS
    </footer>
</body>
</html>