<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>home</title>
</head>
<body>
    <%- include('componens/navbar') %>
    <h3>haiiii kamu orang cipondoh, namanya siapa ?</h3>
    <h2> hello, nama saya adalah <%= warga_tangerang.nama %></h2>

    <footer>
        copyright @ anjasmoro 2020
    </footer>
    
</body>
</html>